body { background: Red;
       color: White;
       font-size: 16pt; }
       
       
H1 {text-align: Center;    }

ul {text-align: left;    }

P  {text-align: right;    }


h1 {border: 1px solid black;    }

body {font-family: 'Indie Flower', cursive; }