H1 {text-align: center;    }
H2 {text-align: center;    }


body { background: Maroon;
       color: gold;
       font-size: 16pt; }

P {text-align: center;     }

body { font-family: 'Lora', serif; }
H1   { font-family: 'Lora', serif; }
H2   { font-family: 'Lora', serif; }